__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env/

dist/
build/
*.egg-info/

.idea/
.vscode/
*.swp
*.swo

my_base.db

.env

*.log
*.cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

pyproject.toml
poetry.lock